<nav class="navbar navbar-default">
  <div class="row">
    <div class="pull-left col-md-3">
      <h2>People</h2>
    </div>
  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="form-login">
      <span class="label label-success">Name:</span>
      <%= person.name%>
      <span class="label label-success">Phone no:</span>
      <%= person.phone_no%>
      <span class="label label-success">Email:</span>
      <%= person.email%>
    </div>
  </div>
</div>