<nav class="navbar navbar-default">
  <div class="row">
    <div class="pull-left col-md-3">
      <h4>Email Template</h4>
    </div>
  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="form-login">
      <span class="label label-success">Title:</span>
      <%= template.title%>
      <span class="label label-success">Content:</span>
      <%= template.content.html_safe%>
    </div>
  </div>
</div>