<div class="row container">
  <div class="col-md-3 btn-group btn-group-vertical">
    <button class="btn btn-default nav">
      Emil Templates
    </button>
    <button class="btn btn-default nav">
      <%= link_to "People", user_people_path(current_user.id), remote: true %>
    </button>
  </div>
  <div class="col-md-9 new_person edit_person" id="person_index">
</div>